* {
    margin: 0;
    padding: 0;
}
body {
    font: 71%/1.5 Verdana, Sans-Serif;
    background: #eee;
}
#container {
    margin: 100px auto;
    width: 688px;
}
#write {
    margin: 0 0 5px;
    padding: 5px;
    width: 671px;
    height: 200px;
    font: 1em/1.5 Verdana, Sans-Serif;
    background: #fff;
    border: 1px solid #f9f9f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#keyboard {
    margin: 0;
    position: relative;
    padding: 0;
/*    list-style: none;*/
    z-index: 1;
}
#keyboard button {
    float: left;
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #f9f9f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.firstRow, .secondRow, .thirdRow, .space{
    clear: left;
}


#keyboard .left-shift {
    width: 95px;
}
#keyboard .right-shift {
    width: 109px;
}
.lastitem {
    margin-right: 0;
}
.letter {
    text-transform: uppercase;
}

#keyboard .space {
    width: 500px;
}

.on {
    display: none;
}
#keyboard button:hover {
    position: relative;
    top: 1px;
    left: 1px;
    background-color: aquamarine;
    border-color: #e5e5e5;
    cursor: pointer;
}
#keyboardRegion{
    position: relative;
}

canvas {
    overflow: visible;
    pointer-events: none;
    position:absolute;
    z-index: 5;
    background-color: transparent;
}