/*
Part of codes adopted from
Envato
https://code.tutsplus.com/tutorials/creating-a-keyboard-with-css-and-jquery--net-5774

*/
@font-face {
    font-family: Sarah;
    src: url('SarahSans.eot');
    src: url('SarahSans.eot?#iefix') format('embedded-opentype'),
    url('SarahSans.woff') format('woff'),
    url('SarahSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;

}
body {
    font: 71%/1.5  'Sarah', sans-serif !important;
    background-color:#673ab7!important;
    height: 100%;
    overflow: hidden;


}
#headContainer{
    padding-top: 10px;
    background-color: white;
}

#container {
    margin: 50px auto;
    width: 800px;
    color:black !important;
    font-weight: bolder;
    font-size: 20px;

}
#write {
    margin: 0 0 5px;
    padding: 5px;
    width: 700px;
    height: 200px;
    font: 1em/1.5 Verdana, Sans-Serif;
    background: #fff;
    border: 1px solid #f9f9f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#keyboard {
    margin: 0;
    position: relative;
    padding: 0;
/*    list-style: none;*/
    z-index: 1;
}
#keyboard div {
    float: left;
    margin: 0 5px 5px 0;
    width: 60px;
    height: 60px;
    line-height: 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #f9f9f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.firstRow, .secondRow, .thirdRow, .space{
    clear: left;
}


#keyboard .delete {
    width: 95px;
}
#keyboard .return {
    width: 109px;
}
.lastitem {
    margin-right: 0;
}
.letter {
    text-transform: uppercase;
}

#keyboard .space {
    width: 620px;
}

.on {
    display: none;
}
#keyboard div:hover {
    position: relative;
    top: 1px;
    left: 1px;
    background-color: aquamarine;
    border-color: #e5e5e5;
    cursor: pointer;
}
#keyboardRegion{
    position: relative;
}


#keyboard:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}